@page "/magasiner"
@page "/magasiner/{categorie}"
@using BuyPlace.Shared
@inject FormDataService FormDataService

<PageTitle>Magasiner</PageTitle>

<div class="container">
    <div class="row flex-nowrap mb-5 pb-5">

        <Sidebar />
        <div class="col py-3">

            @if (lstArticles is null)
            {

                <p class="text-center">Veuillez patienter</p>
            }
            else if (lstArticles.Count == 0)
            {
                @if (FormDataService.MinChange && FormDataService.MaxChange)
                {
                    <p class="text-center col">Nous n'avons aucun article dont le prix est plus grand que @FormDataService.Min $ et plus petit que @FormDataService.Max $</p>
                }
                else if (FormDataService.MinChange)
                {
                    <p class="text-center col">Nous n'avons aucun article dont le prix est supérieur ou égale à @FormDataService.Min $</p>
                }
                else if (FormDataService.MaxChange)
                {
                    <p class="text-center col">Nous n'avons aucun article dont le prix est inférieur ou égale@FormDataService.Max $</p>
                }
                else if (FormDataService.boolRecherche)
                {
                    <p class="text-center col">Aucun article trouvé </p>
                }
                else if (!string.IsNullOrWhiteSpace(categorie))
                {
                    <p class="text-center col">Nous n'avons trouvé aucun article de cette catégorie</p>
                }

                else
                {
                    <p class="text-center p-5">Le marché est vide pour l'instant...</p>

                }
            }
            else
            {

                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">

                    @for (int i = 0; i < lstArticles.Count; i++)
                    {
                        <a href="/detail/@lstArticles[i].Id" class="d-block col-lg-3 col-md-4 col-sm-5 mb-2">

                            <div class="card">
                                <img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="@lstImages[i]" />
                                <div class="card-body p-4">
                                    <h4 class="card-title">@lstArticles[i].nom</h4>
                                    <p class="card-text">@lstArticles[i].description</p>
                                    <small>@lstArticles[i].prix</small>
                                </div>
                            </div>
                        </a>
                    }
                </div>

            }
        </div>
    </div>

</div>

