@page "/detail/{idArticle}"

<PageTitle>@title</PageTitle>

<div class="container mt-5 row justify-content-between">
    @if (!string.IsNullOrWhiteSpace(erreur))
    {
        <p class="text-center">@erreur</p>
    }
    else
    {
        if(article is null)
        {
            <p class="text-center">Veuillez patienter</p>
        }
        else
        {
            <div class="col-md-4">
                <img src="images_articles/@image" class="img-fluid" alt="@article.nom"/>
            </div>
            <div class="col-md-3">
                <h2>@article.nom</h2>
                <p>@article.description</p>
                <p>@article.prix</p>
                <p>@article.date</p>
                @if (article.quantite > 0)
                {
                    <p class="text-success">en stock</p>
                }
                else
                {
                    <p class="text-danger">rupture de stock</p>
                }
            </div>
        }

    }


</div>

