@page "/detail/{idArticle}"
@using BuyPlace.Shared
@inject FormDataService FormDataService

<PageTitle>@title</PageTitle>
<div class="container mb-5 pb-5">
<div class="mt-5 row  justify-content-between">
    @if (!string.IsNullOrWhiteSpace(erreur))
    {
        <p class="text-center">@erreur</p>
    }
    else
    {
        if(article is null)
        {
            <p class="text-center">Veuillez patienter</p>
        }
        else
        {
            <div class="col-md-6">
                <img src="images_articles/@image" class="img-fluid" alt="@article.nom" />
            </div>
                    <div class="col-md-6">
                        <h2>@article.nom</h2>
                        <p><strong>@article.prix $</strong></p>
                        <p>@article.description</p>

                <p>Posté le @article.date.Day/@article.date.Month/@article.date.Year </p>
                  <AuthorizeView>
                  <NotAuthorized>
                        <a class="btn btn-primary" href="connexion">Connectez vous pour acheter</a>
                  </NotAuthorized>
                  <Authorized>
                        @if (article.quantite > 0)
                        {
                            <p class="text-success">en stock</p>
                            <button class="btn btn-success">Ajouter au panier</button>

                        }
                        else
                        {
                            <p class="text-danger">rupture de stock</p>
                            <button class="btn btn-success disabled">Ajouter au panier</button>

                        }
                        </Authorized>
                  </AuthorizeView>

                    </div>
        }

    }


</div>
</div>
