@page "/"



<PageTitle>Accueil</PageTitle>
<div class="masthead firstsiv" style="">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome To Our Studio!</span></div>
            <div class="intro-heading text-uppercase"><span>It&#39;s Nice To Meet You</span></div><a class="btn btn-primary btn-xl text-uppercase" role="button" href="#portfolio">Catégorie</a>
        </div>
    </div>
</div>
<div id="carouselExampleControls" class="carousel slide h-auto mb-3 " data-bs-ride="carousel">
    <div class="carousel-inner text-white ">
        @if(categories is not null)
        {
            @for (int i = 0; i < categories.Count; i++)
            {
                string image = categories[i].nom + "2.jpg";
                @if (i == 0)
                {
                    <div class="carousel-item p-5 active align-items-center masthead" style="background-image:url(../images_Accueil/@image);">
                       @*  <h2 class="text-center text-decoration-underline fw-bold">@categories[i].nom</h2>
                        <p class="text-center">Nouvelle collection <br><br> <a href="/magasiner/@categories[i].Id" class="btn btn-danger rounded-pill">Magasiner</a></p> *@

                        <div class="container ">
                            <div class="intro-text">

                                <div class="intro-heading text-uppercase">@categories[i].nom</div>
                                <a class="btn btn-primary btn-xl text-uppercase" role="button" href="/magasiner/@categories[i].Id">Acheter</a>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item p-5 pt-5 masthead" style="background-image:url(../images_Accueil/@image);">
                       @*  <h2 class="text-center text-decoration-underline fw-bold">@categories[i].nom</h2>
                        <p class="text-center">Nouvelle collection <br><br> <a href="/magasiner/@categories[i].Id" class="btn btn-danger rounded-pill">Acheter</a></p> *@
                        <div class="container">
                            <div class="intro-text">

                                <div class="intro-heading text-uppercase">@categories[i].nom</div>
                                <a class="btn btn-primary btn-xl text-uppercase" role="button" href="/magasiner/@categories[i].Id">Acheter</a>
                            </div>

                        </div>
                    </div>
                }
@* 
                <div class="container">
                    <div class="intro-text">
                        <div class="intro-lead-in"><span>Welcome To Our Studio!</span></div>
                        <div class="intro-heading text-uppercase"><span>It&#39;s Nice To Meet You</span></div>
                        <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">Tell mE more</a>
                    </div>
                </div> *@
            }
        }


    </div>
    <button class="carousel-control-prev text-black" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précedent</span>
    </button>
    <button class="carousel-control-next text-black" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>



@* <div class="masthead" style="background-image: url('header-bg.jpg');">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Welcome To Our Studio!</span></div>
            <div class="intro-heading text-uppercase"><span>It&#39;s Nice To Meet You</span></div>
            <a class="btn btn-primary btn-xl text-uppercase" role="button" href="#services">Tell mE more</a>
        </div>
    </div>
</div> *@

@* <div class="container d-flex justify-content-between mb-5 pb-5 flex-wrap cat categorie">

    @if(categories is not null)
    {
        @foreach (var categorie in categories)
        {
            string image = categorie.nom + ".jpg";
            <a href="/magasiner/@categorie.Id" class="d-block card mb-3" style="width:22%">
                <div>
                    <img src="images_Accueil/@image" class="card-img-top" alt="@categorie.nom">
                    <div class="card-body bg-light text-center">
                        <h5 class="card-title ">@categorie.nom</h5>

                    </div>
                </div>
            </a>
        }
    }


</div>
 *@
<section id="portfolio" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Catégorie</h2>
                <h3 class="text-muted section-subheading">Magaziner par catégorie</h3>
            </div>
        </div>
        <div class="row">
            @if (categories is not null)
            {

                @foreach (var categorie in categories)
                {
                    string image = categorie.nom + ".jpg";
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <a class="portfolio-link" href="/magasiner/@categorie.Id" >
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div><img class="img-fluid" src="images_Accueil/@image" />
                        </a>
                        <div class="portfolio-caption">
                            <h4>@categorie.nom</h4>
                            <p class="text-muted">Illustration</p>
                        </div>
                    </div>
                }
            }
           
            
            
        </div>
    </div>
</section>

