@page "/cart"


    <div class="shopping-cart">
    <div class="px-4 px-lg-0">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-3 text-uppercase">Article</div>
                                        </th>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="py-2 text-uppercase">Prix</div>
                                        </th>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="py-2 text-uppercase">Quantité</div>
                                        </th>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="py-2 text-uppercase">Retiré</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    @if(lstArticles is not null)
                                    {
                                        if ( lstArticles.Count() > 0)
                                        {
                                            int i = 0;
                                            string cat = "";
                                            foreach (ArticleSession art in lstArticles)
                                            {
                                                cat = GetCategorie(@art.id_categorie);
                                                <tr>
                                                    <th class="border-0" scope="row">
                                                        <div class="p-2">
                                                            <img class="img-fluid rounded shadow-sm" src="@lstImages[i]" alt="@art.nom" width="70" />
                                                            <div class="ml-3 d-inline-block align-middle">
                                                                <h5 class="mb-0"><a class="text-dark d-inline-block align-middle" href="#">@art.nom</a></h5><span class="text-muted font-weight-normal font-italic d-block">categorie: @cat</span>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td class="border-0 align-middle"><strong>$@art.prix</strong></td>
                                                    <td class="border-0 align-middle"><strong>@art.quantite</strong></td>
                                                    <td class="border-0 align-middle"><a class="text-dark" href="#"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                i++;
                                                sousTotal += art.prix;
                                            }
                                            total = sousTotal + 10 + (sousTotal * 15) / 100;
                                        }
                                        else
                                        {
                                            <tr class="small fw-bold">
                                               Aucun article disponible
                                            </tr>
                                        }

                                       
                                    }
                                    else
                                    {
                                        <tr>
                                            Chargement...
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <div class="col-lg-6">
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Résumé de la commande </div>
                        <div class="p-4">
                            <p class="font-italic mb-4 small fw-bold">Les frais d'expédition et les coûts supplémentaires sont calculés en fonction des valeurs des produits ajouté au panier.</p>
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">SousTotal </strong><strong>$@sousTotal</strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Frais de livraison</strong><strong>$10.00</strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Taxe</strong><strong>$@(sousTotal*15/100)</strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">total</strong>
                                    <h5 class="font-weight-bold">$@total</h5>
                                </li>
                            </ul><a class="btn btn-dark rounded-pill py-2 btn-block" @onclick="paiement" href="#">Procéder au paiement</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>